
.ipynb_checkpoints/mnist-checkpoint.ipynb
.ipynb_checkpoints/03_classification-checkpoint.ipynb
images/classification/some_digit_plot.png
.ipynb_checkpoints/code-checkpoint.ipynb
.ipynb_checkpoints/plot_digits_classification-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/binary-classifier-checkpoint.ipynb
